/* html {
  --border-radius-lg: 1.5rem;
  --red: rgb(181, 0, 0);
}
html[color-scheme="dark"] {
  --red: rgb(255, 73, 73);
} */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  /* color-scheme: dark light; */
  min-height: 100vh;
  height: 100%;
}

/* min body height */

body {
  min-height: 100vh;
  height: 100%;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* lay the boxes out clearly */
* {
  box-sizing: border-box;
  /* border: 1px solid gray; */
  max-width: 100%;
}

#app {
  background-image: linear-gradient(
    to bottom left,
    rgb(240, 218, 21),
    rgb(235, 85, 16)
  );
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
